*{
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 50px;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
    border: 10px solid black;
}

.col {
    background-color: #fafafa;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

#input::-webkit-color-swatch {
    border-radius: 30%;
}

#input::-moz-color-swatch{
    border-radius: 50%;
}

.settings{
    margin:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#number-cells{
    height: auto;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

button, input{
    height: 40px;
    width: 60px;
    border-radius: 30%;
    background-color: transparent;
    font-weight: bold;
}

.background{
    background-color: rgb(102, 36, 36);
    border: 10px solid black;
}

body{
    background-image: url(https://img.freepik.com/free-vector/minimal-white-gray-background-with-wavy-lines_1017-25099.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: cover;
}

